<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <h1>Waypoint demo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam, assumenda explicabo nobis doloribus ipsum? Ad aut mollitia modi cum optio ipsa aspernatur obcaecati, error officiis. Reprehenderit quas aperiam eum!</p>
  </body>
</html>
